* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.perimeter {
  width: 25%;
}

.header {
  border-bottom:2px solid black;
  padding: 10px 30px;

  width: 100%;
  top: 0;
  text-align: center;
}

.footer {
  border-top:2px solid black;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: Black;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 20px 
}



